#squareSearch {
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  
  #textColor{
    color: #ced4dd;
  }

  #padding{
    padding-bottom: 10%;
  }